#znak{
    width: 20%;
    height: 10vh;
    position: relative;
    bottom: 51%;
}
table{
    width: 30%;
    height: 40vh;
    position: relative;
    left: 35%;
}
.rad{
    position: relative;
    bottom: 230%;
}

#menubar1{
    border-radius: 20%;
    position: relative;
    right: 350px;
}