#golova{
    width: 100%;
    height: 12vh;
    background-color: gray;

    
}
h1{
    position: relative;
    left: 40%;
    text-shadow: 1px 1px 2px #fff,-1px -1px
    2px #fff;
}
div{
    width: 100%;
    height: 100vh;
    background-image: url(image/poezd.jpg);
 
}
p{
    text-shadow: 1px 1px 2px #fff,-1px -1px
    2px #fff;
}
table{
    border: solid;
    border-color: rgb(71, 71, 228);

}

#Name{
    position: relative;
    bottom: 100%;
}

#firstName{
    position: relative;
    bottom: 30%;
}


#lastName{
    position: relative;
    top: -170%;
}

#sidebar{
    width: 200px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s ease-in-out;
    
}

#sidebarul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebarli{
    margin: 10px,0;
}
.sidebarA {
    display: block;
    color: #fff;
    text-decoration: none;
}


